PORT=3000
WFS_URL=http://localhost:8080/geoserver/wfs
WFS_LAYERS=ifa_webgis01:batas_administrasi_surabaya,ifa_webgis01:rumahsakit_surabaya,ifa_webgis01:jalan_surabaya
WFS_MAX_FEATURES=1000

WMS_URL=http://localhost:8080/geoserver/wms
WMS_LAYERS=ifa_webgis01:batas_kota_surabaya,ifa_webgis01:jalan_surabaya,ifa_webgis01:jalan_surabaya